@use "../../styles/variables.scss" as *;

nav.nav {
    display: flex; align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: $white;
    padding: 1rem;
    margin-top: auto;

    span {
        color: $cool-gray;
        cursor: pointer; font-weight: 500;
        
        &.hide { visibility: hidden; }
        &:hover { color: $marine-blue; }
    }

    button {
        padding: .8em 1.2em;
        border-radius: 3px;
        border: none;
        color: $alabaster;
        background-color: $marine-blue;
        font-weight: 600;
        cursor: pointer;
    }
}