@use "../../styles/variables.scss" as *;

nav.nav {
    display: flex; align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: $white;
    padding: 1rem;
    margin-top: auto;

    span {
        color: $cool-gray;
        cursor: pointer; font-weight: 500;
        
        &.hide { visibility: hidden; }
        &:hover { color: $marine-blue; }
    }

    button {
        padding: .75em 1.3em;
        border-radius: 4px;
        border: none;
        color: $alabaster;
        background-color: $marine-blue;
        font-weight: 600;
        cursor: pointer;

        &:hover { opacity: .8;}

        &.last { background-color: $purplish-blue}
    }
}